@font-face {
   font-family: 'Gilda Display';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/User/Desktop/test-site/fonts/Gilda Display/regular.ttf') format('truetype');
}
